
.product.show {
	clear:none;
	width:560px;
	height:230px; 
	padding: 20px;	
}

.product.show .content{
	
}
.product.show .content .modified{
	background-color: yellow;
}
.product.show .content .left_section{
	clear:none;
	float:left;
	width: 220px;
	height: 220px;
}
.product.show .content .right_section{
	clear:none;
	vertical-align:top;
	margin-top:0px;
	margin-left:220px; 
}

.product.show .buttons_section{
		vertical-align:middle;
	padding-top:10px;
}

    
  
