
<br /><br />
<%=button_to "New Brand", {:action => "brands_add"}, :method=> :get%>
<br /><br />
<b>Displaying all brands:</b><br />
<ul>
<% @brands.each do |brand| %>
	<li>
		<%= brand.name %> &nbsp;&nbsp;&nbsp;
 		<%= link_to "Edit", :action => 'brand_view', "brand_id" => brand.brand_id %> &nbsp;
 		<%= link_to "Delete" , { :action => 'brand_del',  :brand_id => brand.brand_id } , :confirm=> "Sure to delete #{brand.name}?"%>
 	</li>
<% end %>
</ul>
