<br /><br />
<form method="post" id="settings_form">


<hr />

Store Name<br />
<%= text_field_tag "store_name", @store_name %>
<br /><br />

Phone Number<br />
<%= text_field_tag "phone_number", @phone_number %>
<br /><br />

<br /><br /><hr />
Main Logo<br /> 





<br />
<br />
<div class="buttonwrapper" >
	<a class="ovalbutton green" href="#" style="float:right;" onclick="document.getElementById('settings_form').submit();"><span><b>Save Changes</b></span></a> 
</div> 
</form>
