<!--
brand keys:
brand_id
name
created_at
-->

<div class="ss-products-side-box">
	<div class="brands-header">
		<h1>Brands</h1>
	</div>
	<div class="content">
		<% brands.each do |brd| %> 
		<h3><%= brd[:name] %></h3>
		<% end %>
	</div>
	<div class="see-all">
		<a href="http://localhost:3000/home/brands"> See All Brands >> </a>
	</div>
</div>