<!--
category keys:
category_id
name
created_at
-->

<div class="ss-products-side-box">
	<div class="categories-header">
		<h1>Categories</h1>
	</div>
	<div class="content">
		<% categories.each do |cat| %>
			<h3><%= cat[:name] %></h3>
		<% end %>
	</div>
	<div class="see-all">
		<a href="http://localhost:3000/home/categories"> See All Categories >> </a>
	</div>
</div>