 
.product {
	margin-left:auto;
	margin-right:auto;
	border-spacing: 0px;

}
.product .modified{
	background-color: yellow;
}

.product .content { 
	clear:both;
	width:560px;
	height:230px; 
	padding: 20px;
} 
.product .content .left_section {
	clear:none;
	float:left;
	width: 220px;
	height: 220px;
} 
.product .content .right_section {
	clear:none;
	vertical-align:top;
	margin-top:0px;
	margin-left:220px; 
}
.product .buttons_section{
	vertical-align:middle;
	padding-top:10px;
}
