
.product.user {
	
}

.product.user .content { 
	clear:both;
	width:460px;
	height:200px; 
	padding: 20px;
} 
.product.user .content .left_section {
	clear:none;
	float:left;
	width: 220px;
	height: 200px;
} 
.product.user .content .right_section {
	clear:none;
	vertical-align:top;
	margin-top:0px;
	margin-left:220px; 
} 
.product.user .name {
	width:150px;
	font-weight:bold;
	font-size:20px
}
.product.user .description {
	width:220px;
	height:130px;
}
