<br /> 
<form id="about_form" method="POST">
<textarea name="about_text" rows="20" cols="130"><%=@about_text%></textarea>
<div class="buttonwrapper" >
	<a class="ovalbutton green" href="#" style="float:right;" onclick="document.getElementById('about_form').submit();"><span><b>Save Changes</b></span></a> 
</div> 
</form>
<br /> 
